<div *ngIf="!isUpdateSearch" class="row">
  <div class="col">
    <input type="submit" class="btn btn-primary addnew float-sm-left"
        value="Add Linked Question" disabled="disabled"> 
    <button class="btn btn-sm btn-primary addnew float-sm-right" (click)="addQuestion()" >
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
</div>
<accordion closeOthers="true">
  <div *ngFor="let questionModel of questionModel.linkedQuestions; let index=index">
      <accordion-group>
        <div accordion-heading>
          <div class="question-id">
            Linked Question Id : {{questionModel.id}} # Parent Question Id : {{questionModel.parentQuestionId}}
            <button class="btn btn-sm btn-danger btn remove float-sm-right" (click)="removeQuestion(index)" >
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <app-question [questionModel]="questionModel" [isLinkedQuestion]="true" ></app-question>
      </accordion-group>
  </div>
</accordion>