<div *ngIf="!isUpdateSearch" class="row">
  <div class="col">
    <input type="submit" class="btn btn-primary addnew float-sm-left"
        value="Add Linked Question" disabled="disabled"> 
    <input type="button" class="btn btn-primary addnew float-sm-right"
        (click)="addQuestion()" value="+" /> 
  </div>
</div>
<div *ngFor="let questionModel of questionModel.linkedQuestions; let index=index">
  <div class="row">
      <div class="col">
        <input type="submit" class="btn btn-primary addnew float-sm-left"
        value="Linked Question Id : {{questionModel.id}} # Parent Question Id : {{questionModel.parentQuestionId}}" disabled="disabled">
        <input type="button" class="btn btn-danger remove float-sm-right"
        (click)="removeQuestion(index)" value="-" />
        <button class="btn btn-info float-sm-right" type="button" (click)="expandCollapse(index)">
        <img [src]="qeProperty[index].image" height="8px" width="10px">
        </button>
      </div>
  </div>
  <div id="index" [hidden]="qeProperty[index].collapse">
    <app-question [questionModel]="questionModel" [isLinkedQuestion]="isLinkedQuestion" ></app-question>
  </div>
</div>