<div class="row">
	<div class="col">
		<textarea rows="5" class="form-control"
					[(ngModel)]="questionModel.question" placeholder="Enter your question here"></textarea>
	</div>
</div>
<div class="row">
	<div class="col">
		<input type="button"
				class="btn btn-primary addnew float-sm-left"
				value="Question Having Image" disabled="disabled">
	</div>
	<div class="col form-check">
        <label class="form-check-label">
        	<input type="radio" class="form-check-input" (click)="changeImageAvailibility('true')" name="imageOption{{questionModel.id}}" value="true" >
        	Yes
        </label>
    </div>
    <div class="col form-check">
    	<label class="form-check-label">
        	<input type="radio" class="form-check-input" (click)="changeImageAvailibility('false')" name="imageOption{{questionModel.id}}" value="false" checked >
        	No
        </label>
    </div>
    <div class="col-6"></div>
</div>
<app-notification></app-notification>
<div class="row" [hidden]="!isImageAvailable">
   	<div class="col-10">
		  <input type="file" #file (change)="getFile(file.files, $event)">
		  <img [src]="previewQuestionImage" />
	</div>
	<div class="col">
		<input type="button" class="btn btn-success addnew float-sm-right"
				(click)="uploadQuestionImage()" value="Upload" />
	</div>
</div>
<div class="row" *ngFor="let path of questionModel.images.paths; let pIndex = index">
	<div class="col" >
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" (click)="questionModel.images.paths.splice(pIndex,1)" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{path}}
		</div>
	</div>
</div>