<app-preview [questionModel]="questionModel" [isLinkedQuestion]="isLinkedQuestion" ></app-preview>
<div *ngIf="!isLinkedQuestion">
    <app-paragraph [questionModel]="questionModel" ></app-paragraph>
</div>
<app-questiontext [questionModel]="questionModel" ></app-questiontext>
<app-options [questionModel]="questionModel" ></app-options>
<div *ngIf="!isLinkedQuestion">
    <app-category [questionModel]="questionModel" ></app-category>
</div>
    <app-attribute [questionModel]="questionModel" [isLinkedQuestion]="isLinkedQuestion"></app-attribute>
<div *ngIf="!isLinkedQuestion">
    <app-linkedquestion [questionModel]="questionModel" [isUpdateSearch]="isUpdateSearch"></app-linkedquestion>
</div>