body {
    padding-top: 50px;
}
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 4px 15px;
}

.btn-group .btn {
    border-radius: 2px;
    margin-left: -1px;
    height: 36px;
}

.input-group .form-control {
    width: 100%;
    border-bottom-left-radius: 4px !important; 
    border-top-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important; 
    border-top-right-radius: 4px !important;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (min-width: 768px) {
    #boot-search-box {
        width: 550px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 550px;
    }
}