<br/>
<div class="container-fluid">
    <!-- Left Column -->
    <div class="row">
      <div class="col-4">
        <!-- List-Group Panel -->
        <div class="card">
          <div class="card-header p-b-0">
            <h5 class="card-title"><i class="fa fa-user" aria-hidden="true"></i> Team Members</h5>
          </div>
          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">Basant Kumar Jha [M.Tech from IIT Patna]</a>
            <a href="#" class="list-group-item list-group-item-action">Dipawesh Pawar [M.Tech from IIT Patna]</a>
            <a href="#" class="list-group-item list-group-item-action">Jayant Vyas [M.Tech from IIT Patna]</a>
            <a href="#" class="list-group-item list-group-item-action">Manish Bhanu [M.Tech from IIT Patna]</a>
            <a href="#" class="list-group-item list-group-item-action">Navneet Kishore Kunal [M.Tech from IIT Patna]</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <!-- Text Panel -->
        <div class="card">
          <div class="card-header p-b-0">
            <h5 class="card-title"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Working Towards</h5>
          </div>
  
          <div class="card-block">
            <p class="card-text">Making Gate CS Previous question easily available. Searching of question subject-wise, topic-wise, year-wise. Will be coming up with free test series for Gate CS 2019.</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <!-- Text Panel -->
        <div class="card">
          <div class="card-header p-b-0">
            <h5 class="card-title">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              Coming Soon...
            </h5>
          </div>
          <div class="card-block">
            <p class="card-text">Analysis of Gate CS Question on request basis. Solution to all previous year question in easily understandable manner.</p>
          </div>
        </div>	
      </div>
    </div><!--/Left Column-->
  </div><!--/container-fluid-->
  <app-footer></app-footer>