<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <app-notification [nid]="id"></app-notification>
        <!-- Form -->
        <div class="card">
            <div class="card-header p-b-0">
                <h5 class="card-title">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> 
                    Change Password
                </h5>
            </div>
            <div class="card-block">
                <form>
                    <div class="form-group">
                        Old Password <input type="password" [(ngModel)]="oldpassword" (blur)="validateOldPassword()" class="form-control" id="oldpwd" name="oldpwd" placeholder="Enter Old Pasword">
                    </div>
                    <div class="form-group">
                        New Password <input type="password" [(ngModel)]="newpassword" (blur)="validateNewPassword()" class="form-control" id="newpwd" name="newpwd" placeholder="Enter New Pasword">
                    </div>
                    <div class="form-group">
                        Confirm New Password <input type="password" [(ngModel)]="confirmnewpassword" (blur)="validateConfirmNewPassword()" class="form-control" id="cnfpwd" name="cnfpwd" placeholder="Enter Confirm New Pasword">
                    </div>
                    <button type="submit" [disabled]="!isValid()" (click)="changePassword()" class="btn btn-success">
                        <i class="fa fa-save" aria-hidden="true"></i> Save</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
