<div class="row">
  <div class="col">
    <input type="submit" class="btn btn-primary addnew float-sm-left"
        value="Question Submit Form" disabled="disabled"> 
    <button class="btn btn-sm btn-primary addnew float-sm-right" (click)="addQuestion()" >
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button> 
  </div>
</div>
<accordion closeOthers="true">
  <div *ngFor="let questionModel of questionModels; let index=index">
      <accordion-group>
        <div accordion-heading>
          <div class="question-id">
              Question Id : {{questionModel.id}}
              <button class="btn btn-sm btn-danger btn remove float-sm-right" (click)="removeQuestion(index)" >
                  <i class="fa fa-minus" aria-hidden="true"></i>
              </button>
          </div>
        </div>
        <app-question [questionModel]="questionModel" ></app-question>
        </accordion-group>
  </div>
</accordion>
<app-notification></app-notification>
<div class="row" [hidden]="hideSubmitPreviewButton" >
  <div class="btn-group col" >
    <button class="btn btn-success ml-auto " (click)="validateAndOpenModal(template)" >Preview And Submit</button>
  </div>
</div>
<ng-template #template>
  <div class="modal-content custom-modal" >
    <div class="modal-header">
      <h5 class="modal-title">Question Preview</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngFor="let questionModel of questionModels; let index=index">
        <app-previewtemplate [questionModel]="questionModel" [imageBaseUrl]="imageBaseUrl" [isSubmitPreview]="true" ></app-previewtemplate>
      </div>
      <br/>
      <button type="button" class="btn btn-danger" (click)="decline()" >Cancel</button>
      <button type="button" class="btn btn-success" (click)="confirm()" >Submit</button>
    </div>
  </div>
</ng-template>