<app-searchfilter (searchEvent)="searchQuestion($event)" ></app-searchfilter>
<app-notification></app-notification>
<div class="row" [hidden]="!isDataPresent">
<div class="col">
    <accordion closeOthers="true">
        <div *ngFor="let questionModel of questionModels; let index=index">
            <accordion-group>
                <div accordion-heading>
                  <div class="question-id">
                    Linked Question Id : {{questionModel.id}}
                    <button class="btn btn-sm btn-danger btn remove float-sm-right" (click)="removeAnswer(index)" >
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
            <app-anspreview [questionModel]="questionModel" [answerModel]="answerModels[index]" [imageBaseUrl]="imageBaseUrl" ></app-anspreview>
            </accordion-group>
        </div>
        </accordion>
      <app-notification></app-notification>
      <div class="row" [hidden]="hideSubmitPreviewButton" >
        <div class="btn-group col" >
          <button class="btn btn-success ml-auto " (click)="submitAnswers()" >Submit</button>
        </div>
      </div>
</div>
</div>