<app-searchfilter (searchEvent)="searchQuestion($event)" ></app-searchfilter>
<app-notification [nid]="id"></app-notification>
<div class="row" [hidden]="!isDataPresent">
  <div class="col">
    <div *ngFor="let questionModel of questionModels; let index=index">
      <div class="row">
          <div class="col">
            <input type="submit" class="btn btn-primary addnew float-sm-left"
            value="Question Id : {{questionModel.id}}" disabled="disabled">
            <input type="button" class="btn btn-danger remove float-sm-right"
            (click)="removeAnswer(index)" value="-" />
            <button class="btn btn-info float-sm-right" type="button" (click)="expandCollapse(index)">
            <img [src]="qeProperty[index].image" height="8px" width="10px">
            </button>
          </div>
      </div>
      <div id="index" [hidden]="qeProperty[index].collapse">
        <app-anspreview [questionModel]="questionModel" [answerModel]="answerModels[index]" [imageBaseUrl]="imageBaseUrl" ></app-anspreview>
      </div>
    </div>
    <app-notification [nid]="id"></app-notification>
    <div class="row" [hidden]="hideSubmitPreviewButton" >
      <div class="btn-group col" >
        <button class="btn btn-success ml-auto " (click)="submitAnswers()" >Submit</button>
      </div>
    </div>
  </div>
</div>