<div class="container" style="border: dashed;" (click)="previewQuestion()" >
	<div class="row" *ngIf="!isLinkedQuestion && questionModel.paragraph != undefined">
		<div class="col">
			<div [innerHtml]="questionModel.paragraph.paragraph" ></div>
		</div>
	</div>
	<div class="row" [hidden]="!isParaImageAvailable()" *ngIf="!isLinkedQuestion && questionModel.paragraph != undefined" >
		<div class="col">
			<div *ngFor="let path of questionModel.paragraph.images.paths">
				<img height="100px" width="120px" alt="" [src]="path">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div [innerHtml]="questionModel.question" ></div>
		</div>
	</div>
	<div class="row" [hidden]="!isImageAvailable()" >
		<div class="col">
			<div *ngFor="let path of questionModel.images.paths">
				<img height="100px" width="120px" alt="" [src]="path">
			</div>
		</div>
	</div>
	<div *ngIf="questionModel.options.type == 'Text'">
		<div class="row" *ngFor="let option of questionModel.options.option">
			<div class="col">
				<div [innerHtml]="option" ></div>
			</div>
		</div>
	</div>
	<div *ngIf="questionModel.options.type == 'Image'">
		<div class="row" *ngFor="let path of questionModel.options.imagePath">
			<div class="col">
				<div><img height="100px" width="120px" alt="" [src]="path"></div>
			</div>
		</div>
	</div>
	<div *ngIf="questionModel.options.type == 'TextAndImage'">
		<div class="row" *ngFor="let option of questionModel.options.option; let childIndex=index">
			<div class="col">
				<div [innerHtml]="option" ></div>
				<div><img height="100px" width="120px" alt="" [src]="questionModel.options.imagePath[childIndex]"></div>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="!isLinkedQuestion">
		<div class="col-7"></div>
		<div class="col" [hidden]="questionModel.year === ''">[Gate {{questionModel.year}}]</div>
		<div class="col" [hidden]="questionModel.marks === ''">[{{questionModel.marks}} Marks]</div>
		<div class="col" [hidden]="questionModel.type === ''">[{{questionModel.type}}]</div>
	</div>
	<div class="row" *ngIf="isLinkedQuestion">
		<div class="col-10"></div>
		<div class="col" [hidden]="questionModel.marks === ''">[{{questionModel.marks}} Marks]</div>
	</div>
</div>