<div class="wisdom-container wisdom-pale-green wisdom-leftbar wisdom-border-green" (click)="previewQuestion()" >
	<strong>Click anywhere in preview area to view question/options/paragraph entered in Latex or Html format.</strong>
	<div class="row" *ngIf="!isLinkedQuestion && questionModel.paragraph != undefined">
		<div class="col">
			<div [innerHtml]="questionModel.paragraph.paragraph" ></div>
		</div>
	</div>
	<div class="row" [hidden]="!isParaImageAvailable()" *ngIf="!isLinkedQuestion && questionModel.paragraph != undefined" >
		<div class="col">
			<div *ngFor="let path of questionModel.paragraph.images.paths">
				<img alt="" [src]="imageBaseUrl+path">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div [innerHtml]="questionModel.question" ></div>
		</div>
	</div>
	<div class="row" [hidden]="!isImageAvailable()" >
		<div class="col">
			<div *ngFor="let path of questionModel.images.paths">
				<img alt="" [src]="imageBaseUrl+path">
			</div>
		</div>
	</div>
	<div *ngIf="questionModel.options.type == 'Text'">
		<div *ngFor="let option of questionModel.options.option; let index=index">
			{{index+1}})&nbsp;{{option}}<br/>
		</div>
	</div>
	<div *ngIf="questionModel.options.type == 'Image'">
		<div *ngFor="let path of questionModel.options.imagePath; let index=index">
			{{index+1}})&nbsp;<img alt="" [src]="imageBaseUrl+path"><br/>
		</div>
	</div>
	<div *ngIf="questionModel.options.type == 'TextAndImage'">
		<div *ngFor="let option of questionModel.options.option; let index=index">
		{{index+1}})&nbsp;{{option}}<br/>
		<img alt="" [src]="imageBaseUrl+questionModel.options.imagePath[index]"><br/>
		</div>
	</div>
	<div class="row" *ngIf="!isLinkedQuestion">
		<div class="col-7"></div>
		<div class="col" [hidden]="questionModel.year === ''">[Gate {{questionModel.year}}]</div>
		<div class="col" [hidden]="questionModel.marks === ''">[{{questionModel.marks}} Marks]</div>
		<div class="col" [hidden]="questionModel.type === ''">[{{questionModel.type}}]</div>
	</div>
	<div class="row" *ngIf="isLinkedQuestion">
		<div class="col-10"></div>
		<div class="col" [hidden]="questionModel.marks === ''">[{{questionModel.marks}} Marks]</div>
	</div>
</div>