<div class="row">
	<div class="col">
		<input type="button"
				class="btn btn-primary addnew float-sm-left"
				value="Having Paragraph" disabled="disabled">
	</div>
	<div class="col form-check">
        <label class="form-check-label">
        	<input type="radio" class="form-check-input" (click)="changeParagraphAvailibility('true')" name="paragraphOption" value="true" >
        	Yes
        </label>
    </div>
    <div class="col form-check">
    	<label class="form-check-label">
        	<input type="radio" class="form-check-input" (click)="changeParagraphAvailibility('false')" name="paragraphOption" value="false" checked >
        	No
        </label>
    </div>
    <div class="col-6"></div>
</div>
<div [hidden]="!isParagraphAvailable">
  <div class="row">
    <div class="col">
      <textarea rows="5" class="form-control"
            [(ngModel)]="questionModel.paragraph.paragraph" ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="button"
          class="btn btn-primary addnew float-sm-left"
          value="Paragraph Having Image" disabled="disabled">
    </div>
    <div class="col form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" (click)="changeImageAvailibility('true')" name="paragraphImageOption" value="true" >
            Yes
          </label>
      </div>
      <div class="col form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" (click)="changeImageAvailibility('false')" name="paragraphImageOption" value="false" checked >
            No
          </label>
      </div>
      <div class="col-6"></div>
  </div>
  <app-notification [nid]="id"></app-notification>
  <div class="row" [hidden]="!isImageAvailable">
      <div class="col-10">
        <input type="file" #file (change)="getFile(file.files)">
    </div>
    <div class="col">
      <input type="button" class="btn btn-success addnew float-sm-right"
          (click)="uploadQuestionImage()" value="Upload" />
    </div>
  </div>
  <div class="row" *ngFor="let path of questionModel.paragraph.images.paths; let pIndex = index">
    <div class="col" >
      {{path}}
    </div>	
    <div class="col">
      <input type="button" class="btn btn-danger remove float-sm-right"
          (click)="questionModel.paragraph.images.paths.splice(pIndex,1)" value="-" />
    </div>
  </div>
</div>