<div class="row">
	<div class="col">
		<input type="button"
				class="btn btn-primary addnew float-sm-left"
				value="Having Paragraph" disabled="disabled">
	</div>
	<div class="col form-check">
        <label class="form-check-label">
        	<input type="radio" class="form-check-input" (click)="changeParagraphAvailibility('true')" name="paragraphOption{{questionModel.id}}" value="true" >
        	Yes
        </label>
    </div>
    <div class="col form-check">
    	<label class="form-check-label">
        	<input type="radio" class="form-check-input" (click)="changeParagraphAvailibility('false')" name="paragraphOption{{questionModel.id}}" value="false" checked >
        	No
        </label>
    </div>
    <div class="col-6"></div>
</div>
<div *ngIf="questionModel.paragraph != undefined" [hidden]="!isParagraphAvailable">
  <div class="row">
    <div class="col">
      <textarea rows="5" class="form-control" (blur)="previewQuestion()"
            [(ngModel)]="questionModel.paragraph.paragraph" placeholder="Enter your paragraph here"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="button"
          class="btn btn-primary addnew float-sm-left"
          value="Paragraph Having Image" disabled="disabled">
    </div>
    <div class="col form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" (click)="changeImageAvailibility('true')" name="paragraphImageOption{{questionModel.id}}" value="true" >
            Yes
          </label>
      </div>
      <div class="col form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" (click)="changeImageAvailibility('false')" name="paragraphImageOption{{questionModel.id}}" value="false" checked >
            No
          </label>
      </div>
      <div class="col-6"></div>
  </div>
  <app-notification></app-notification>
  <div class="row" [hidden]="!isImageAvailable">
      <div class="col-10">
        <input type="file" #pfile (change)="getFile(pfile.files, $event)">
        <img [src]="previewParagraphImage" />
    </div>
    <div class="col">
      <input type="button" class="btn btn-success addnew float-sm-right"
          (click)="uploadParagraphImage()" value="Upload" />
    </div>
  </div>
  <div class="row" *ngFor="let path of questionModel.paragraph.images.paths; let pIndex = index">
      <div class="col">
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" (click)="questionModel.paragraph.images.paths.splice(pIndex,1)" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{path}}
        </div>
      </div>
  </div>
</div>