<div class="row">
  <div class="col"></div>
  <div class="col text-center">
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon">Select Test Series to proceed for Question Assignment</div>
      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="selectedTestSeriesId" >
          <option value="" ng-selected="true" >Select Test Series</option>
          <option *ngFor="let testSeries of testSeriesModels" value="{{testSeries.id}}">
            {{testSeries.id}}#{{testSeries.activateDate}}#{{testSeries.type}}
          </option>
      </select>
    </div>
  </div>
</div>
<div *ngIf="selectedTestSeriesId === ''">
  <app-notification [nid]="id"></app-notification>
</div>
<div *ngIf="selectedTestSeriesId !== ''">
  <app-searchfilter (searchEvent)="searchQuestion($event)" ></app-searchfilter>
  <app-notification [nid]="id"></app-notification>
</div>
<div [hidden]="!isDataPresent || selectedTestSeriesId === ''">  
  <div class="row">
  <div class="col">
    <app-questionpreview [selectedQuestions]="selectedQuestions"></app-questionpreview>
  </div>
  </div>
  <div class="row">
    <div class="btn-group col" >
      <button class="btn btn-success ml-auto " (click)="assignQuestions()" >Assign Questions To Test Series</button>
    </div>
  </div>
  <app-notification [nid]="id"></app-notification>
</div>
