<!-- Navigation -->
<nav id="topNav" class="navbar navbar-full navbar-static-top navbar-dark bg-inverse m-b-1">
 
  <div class="navbar-toggleable-sm" id="navbar">
      <ul class="nav navbar-nav float-sm-right">
          <li [hidden]="!enabled" class="nav-item">
              <a class="nav-link" href="#" routerLink="homepage" >Home</a>
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link" href="#" routerLink="products">Products</a>
          </li> -->
          <li [hidden]="enabled" class="nav-item">
            <a class="nav-link" href="#" routerLink="registration">Registration</a>
          </li>
          <li [hidden]="enabled" class="nav-item">
            <a class="nav-link" href="#" routerLink="login">Login</a>
          </li>
          <li [hidden]="!enabled || role == 'admin'" class="nav-item">
            <a class="nav-link" href="#" routerLink="viewquestion">Previous Year Question</a>
          </li>
          <li [hidden]="!enabled && role != 'admin'" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Services
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" routerLink="submitquestion" href="#">Submit Question</a>
                  <a class="dropdown-item" routerLink="updatequestion" href="#">Update Question</a>
                  <a class="dropdown-item" routerLink="submitanswer" href="#">Submit Answer</a>
                  <a class="dropdown-item" routerLink="updateanswer" href="#">Update Answer</a>
                  <a class="dropdown-item" routerLink="submitcategory" href="#">Submit Category</a>
                  <a class="dropdown-item" routerLink="viewquestion" href="#">Previous Year Question</a>
              </div>
          </li>
          <li [hidden]="!enabled || role == 'admin'" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Test Series
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" routerLink="enrolltestseries" href="#">Enroll</a>
                <a class="dropdown-item" routerLink="testseries" href="#">Take Exam</a>
                <a class="dropdown-item" routerLink="testseriesresult" href="#">Result Analysis</a>
            </div>
          </li>
          <li [hidden]="!enabled && role != 'admin'" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Test Series
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" routerLink="submittestseries" href="#">Submit Test Series</a>
                <a class="dropdown-item" routerLink="questionassignment" href="#">Assign Question</a>
                <a class="dropdown-item" routerLink="enrolltestseries" href="#">Enroll</a>
                <a class="dropdown-item" routerLink="testseries" href="#">Take Exam</a>
                <a class="dropdown-item" routerLink="testseriesresult" href="#">Result Analysis</a>
            </div>
          </li>
          <li [hidden]="!enabled" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="nav-link" (click)="logout()" href="#" routerLink="profile">
                        <i class="fa fa-user" aria-hidden="true"></i>&nbsp;Profile 
                    </a>
                    <a class="nav-link" (click)="logout()" href="#" routerLink="logout">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout
                    </a>
                    <a class="nav-link" href="#" routerLink="aboutus">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;About Us
                    </a>
                    <a class="nav-link" href="#" routerLink="contactus">
                        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Contact Us
                    </a>
                </div>
            </li>
      <!-- Search -->
     <!--  <li>
     <form class="form-inline float-sm-right">
          <input class="form-control float-right" type="text" placeholder="Search">
          <button class="btn btn-primary float-right" type="submit">Search</button>
      </form> 
      </li>-->
    </ul>
    <ul class="nav navbar-nav">
        <li class="nav-item">
              <a class="navbar-brand" href="#">WCC</a>
        </li>
    </ul>
  </div>
</nav>
