<div class="row">
	<div class="col">
		<textarea rows="5" class="form-control"
					[(ngModel)]="questionModel.question" ></textarea>
	</div>
</div>
<div class="row">
	<div class="col">
		<input type="button"
				class="btn btn-primary addnew float-sm-left"
				value="Having Image" disabled="disabled">
	</div>
	<div class="col form-check">
        <label class="form-check-label">
        	<input type="radio" class="form-check-input" (click)="changeImageAvailibility('true')" name="imageOption" value="true" >
        	Yes
        </label>
    </div>
    <div class="col form-check">
    	<label class="form-check-label">
        	<input type="radio" class="form-check-input" (click)="changeImageAvailibility('false')" name="imageOption" value="false" checked >
        	No
        </label>
    </div>
    <div class="col-6"></div>
</div>
<app-notification [nid]="id"></app-notification>
<div class="row" [hidden]="!isImageAvailable">
   	<div class="col-10">
		  <input type="file" #file (change)="getFile(file.files)">
	</div>
	<div class="col">
		<input type="button" class="btn btn-success addnew float-sm-right"
				(click)="uploadQuestionImage()" value="Upload" />
	</div>
</div>
<div class="row" *ngFor="let path of questionModel.images.paths; let pIndex = index">
	<div class="col" >
		{{path}}
	</div>	
	<div class="col">
		<input type="button" class="btn btn-danger remove float-sm-right"
				(click)="questionModel.images.paths.splice(pIndex,1)" value="-" />
	</div>
</div>