<div class="row" *ngIf="!isAlreadyEnrolled">
  <div class="col">
      <div class="btn-group col" >
        <button class="btn btn-success ml-auto " (click)="enrollTestSeries()" [hidden]="isEnrollmentSuccessful || isAlreadyEnrolled" >Enroll To Test Series</button>
      </div>
  </div>
</div>
<app-notification></app-notification>
<div *ngIf="isEnrollmentSuccessful || isAlreadyEnrolled">
  <div class="row">
    <div class="col">Seriel No</div>
    <div class="col">Activation Date</div>
    <div class="col">De-Activation Date</div>
    <div class="col">Type</div>
    <div class="col">Duration</div>
    <div class="col">No Of Question</div>
  </div>
  <div class="row" *ngFor="let testSeries of testSeriesModels; let index=index">
    <div class="col">{{index+1}}</div>
    <div class="col">{{testSeries.activateDate}}</div>
    <div class="col">{{testSeries.deactivateDate}}</div>
    <div class="col">{{testSeries.type}}</div>
    <div class="col">{{testSeries.duration}}</div>
    <div class="col">{{testSeries.noOfQuestion}}</div>
  </div>
  <div class="row" >
    <div class="col">
      <div class="btn-group col" >
        <button class="btn btn-success ml-auto " (click)="startTestSeries()" >Start Test Series</button>
      </div>
    </div>
  </div>
</div>