<div *ngIf="!isDataPresent">
    <app-notification></app-notification>
</div>
<div [hidden]="!isDataPresent">  
  <div class="row">
    <div class="col">
      <app-questionpreview [selectedQuestions]="selectedQuestions" [imageBaseUrl]="imageBaseUrl" ></app-questionpreview>
    </div>
  </div>
  <app-notification></app-notification>
  <div class="row">
    <div class="btn-group col" >
      <button class="btn btn-success ml-auto " (click)="unassignQuestions()" >Un-Assign Questions To Test Series</button>
    </div>
  </div>
</div>
