<div class="row form-group">
	<div class="col">
	<input type="button" class="btn btn-primary addnew float-sm-left" value="Options Type"
		disabled="disabled">
	</div>
	<div class="col form-check">
        <label class="form-check-label">
        	<input type="radio" class="form-check-input" [(ngModel)]="questionModel.options.type" name="textAndImageOption{{questionModel.id}}" value="NoOption" >
        	No Option
        </label>
    </div>
	<div class="col form-check">
        <label class="form-check-label">
        	<input type="radio" class="form-check-input" [(ngModel)]="questionModel.options.type" name="textAndImageOption{{questionModel.id}}" value="Text" checked>
        	Text
        </label>
    </div>
    <div class="col form-check">
    	<label class="form-check-label">
        	<input type="radio" class="form-check-input" [(ngModel)]="questionModel.options.type" name="textAndImageOption{{questionModel.id}}" value="Image" >
        	Image
        </label>
    </div>
    <div class="col form-check">
    	<label class="form-check-label">
        	<input type="radio" class="form-check-input" [(ngModel)]="questionModel.options.type" name="textAndImageOption{{questionModel.id}}" value="TextAndImage" >
        	Text & Image
        </label>
    </div>
    <div class="col-8"></div>
</div>
<app-notification [nid]="id"></app-notification>
<div class="row" [hidden]="getStatus('NoOption')">
</div>
<div class="row form-group" [hidden]="getStatus('TextAndImage')">
	<div class="col-6">
		<textarea rows="2" class="form-control" [(ngModel)]="newOptionVal" placeholder="Enter your option here"></textarea>
	</div>
	<div class="col-4">
		<input type="file" #fileTextAndImage (change)="getFile(fileTextAndImage.files, $event)">
		<img [src]="previewOptionImage" />
	</div>
	<div class="col">
		<input type="button" class="btn btn-success addnew float-sm-right"
		(click)="uploadOptionsImage()" value="Upload" />
	</div>
	<div class="col">
		<input type="button" (click)="addOption()"
			class="btn btn-primary addnew float-sm-right" value="+" />
	</div>
</div>
<div class="row form-group" [hidden]="getStatus('Text')">
	<div class="col-11">
		<textarea rows="2" class="form-control" [(ngModel)]="newOptionVal" placeholder="Enter your option here"></textarea>
	</div>
	<div class="col">
		<input type="button" (click)="addOption()"
			class="btn btn-primary addnew float-sm-right" value="+" />
	</div>
</div>
<div class="row form-group" [hidden]="getStatus('Image')">
	<div class="col-10">
		<input type="file" #fileImage (change)="getFile(fileImage.files, $event)">
		<img [src]="previewOptionImage" />
	</div>
	<div class="col">
		<input type="button" class="btn btn-success addnew float-sm-right"
		(click)="uploadOptionsImage()" value="Upload" />
	</div>
</div>
<div *ngIf="questionModel.options.type == 'Text'">
	<div class="row" *ngFor="let option of questionModel.options.option; let childIndex=index">
		<div class="col">
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" (click)="removeOption(childIndex)" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{option}}
			</div>
		</div>
	</div>
</div>
<div *ngIf="questionModel.options.type == 'Image'">
	<div class="row" *ngFor="let path of questionModel.options.imagePath; let childIndex=index">
		<div class="col">
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" (click)="removeOptionImagePath(childIndex)" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{path}}
			</div>
		</div>
	</div>
</div>
<div *ngIf="questionModel.options.type == 'TextAndImage'">
	<div class="row" *ngFor="let option of questionModel.options.option; let childIndex=index">
		<div class="col">
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" (click)="removeOptionAndImagePath(childIndex)" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{option}} # {{questionModel.options.imagePath[childIndex]}}
			</div>
		</div>
	</div>
</div>
