<div class="footerholder">
    <div class="footer">
        <div class="small-print">
          <div class="container">
            <p><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#" routerLink="contactus" >Contact Us</a></p>
            <p>Copyright &copy; wisdomcomputerclass.com 2017 </p>
          </div>
        </div>
    </div>
</div>
<!-- <div class="footer-blurb">
  <footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 footer-blurb-item">
        <h3><i class="fa fa-text-height" aria-hidden="true"></i> Dynamic</h3>
        <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
        <p><a class="btn btn-primary" href="#">Procrastinate</a></p>
      </div>
      <div class="col-sm-3 footer-blurb-item">
        <h3><i class="fa fa-wrench" aria-hidden="true"></i> Efficient</h3>
        <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. </p>
        <p><a class="btn btn-success" href="#">Unleash</a></p>
      </div>
      <div class="col-sm-3 footer-blurb-item">
        <h3><i class="fa fa-paperclip" aria-hidden="true"></i> Complete</h3>
        <p>Professionally cultivate one-to-one customer service with robust ideas. Completely synergize resource taxing relationships via premier niche markets. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
        <p><a class="btn btn-primary" href="#">Complete</a></p>
      </div>
      <div class="col-sm-3 footer-blurb-item">
        
        <h3><i class="fa fa-camera" aria-hidden="true"></i> Phosfluorescent</h3>
          <div class="row">
            <div class="col-xs-6">
              <a href="#" class="img-fluid">
                <img src="holder.js/110x80?theme=vine" alt="">
              </a>
            </div>
            <div class="col-xs-6">
              <a href="#" class="img-fluid">
                <img src="holder.js/110x80?theme=sky" alt="">
              </a>
            </div>
            <div class="col-xs-6">
              <a href="#" class="img-fluid">
                <img src="holder.js/110x80?theme=sky" alt="">
              </a>
            </div>
            <div class="col-xs-6">
              <a href="#" class="img-fluid">
                <img src="holder.js/110x80?theme=vine" alt="">
              </a>
            </div>
          </div>
          
      </div>

    </div>
  </div>
</div>
</footer> -->