<div class="row">
	<div class="col"><input type="button"
		class="btn btn-primary addnew float-sm-left"
		value="Related To" disabled="disabled"></div>
</div>
<div class="row form-group">
	<div class="col-2">Exam</div>
	<div class="col-2">Stream</div>
	<div class="col-2">Subject</div>
	<div class="col-3">Topic</div>
	<div class="col-3">Sub-Topic</div>
</div>
<div class="row form-group">
	<div class="col-2">
		<select class="form-control" [(ngModel)]="selectedExam" (ngModelChange)="getStreams()">
			<option value="default" >Select Exam</option>
			<option *ngFor="let exams of categoryData.exams" value="{{exams.exam}}">
				{{exams.exam}}
			</option>
		</select>
	</div>
	<div class="col-2">
		<select class="form-control" [(ngModel)]="selectedStream" (ngModelChange)="getSubjects()">
				<option value="default" >Select Stream</option>
				<option *ngFor="let stream of streams" value="{{stream}}">
					{{stream}}
				</option>
		</select>
	</div>
	<div class="col-2">
		<select class="form-control" [(ngModel)]="selectedSubject" (ngModelChange)="getTopics()">
			<option value="default" >Select Subject</option>
			<option *ngFor="let subject of subjects" value="{{subject}}">
				{{subject}}
			</option>
		</select>
	</div>
	<div class="col-3">
		<select class="form-control" [(ngModel)]="selectedTopic" (ngModelChange)="getSubTopics()">
			<option value="default">Select Topic</option>
			<option *ngFor="let topic of topics" value="{{topic}}">
				{{topic}}
			</option>
		</select>
	</div>
	<div class="col-3">
		<select class="form-control" [(ngModel)]="selectedSubTopic">
			<option value="default">Select Sub-Topic</option>
			<option *ngFor="let subTopic of subTopics" value="{{subTopic}}">
				{{subTopic}}
			</option>
		</select>
	</div>
</div>
<div class="row form-group">
	<div class="col">
		<button class="btn btn-sm btn-primary addnew float-sm-right" (click)="addRelatedField()" >
			<i class="fa fa-plus" aria-hidden="true"></i>
		</button> 
	</div>
</div>
<div class="row" *ngFor="let exam of questionModel.relatedTo.exam; let cIndex = index">
	<div class="col">
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" (click)="removeRelatedField(cIndex)" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{questionModel.relatedTo.exam[cIndex]}} # 
			{{questionModel.relatedTo.stream[cIndex]}} #
			{{questionModel.relatedTo.subject[cIndex]}} #
			{{questionModel.relatedTo.topic[cIndex]}} #
			{{questionModel.relatedTo.subTopic[cIndex]}}
		</div>
	</div>
</div>
<!-- <div class="row form-group">
	<div class="col">Tags</div>
	<div class="col-6">
		<select multiple class="form-control" [(ngModel)]="questionModel.relatedTo.tags">
			<option *ngFor="let tag of tags" value="{{tag}}">
				{{tag}}
			</option>			
		</select>
	</div>
	<div class="col">
	</div>
</div> -->