<div class="row">
  <div class="col-md-4">
    <input *ngIf="config.filtering" placeholder="Filter by question, year"
            [ngTableFiltering]="config.filtering"
            class="form-control"
            (tableChanged)="onChangeTable(config)"/>
  </div>
</div>
<br>
<table class="table table-striped table-bordered dataTable">
  <thead>
      <tr role="row">
        <th *ngFor="let column of columns" [ngTableSorting]="config" [column]="column" (sortChanged)="onChangeTable($event)">
            {{column.title}}
            <i *ngIf="config && column.sort" class="pull-right fa"
              [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}"></i>
        </th>
      </tr>
  </thead>
  <tbody>
        <tr *ngFor="let row of rows">
          <td>
            <div [innerHtml]="row.question"></div><br/>
            <div *ngFor="let path of row.images.paths">
                <img height="100px" width="120px" alt="" [src]="path"><br/>
            </div>
            <div *ngFor="let option of row.options.option; let index=index">
              {{index+1}})&nbsp;{{option}}<br/>
              <div *ngIf="row.options.imagePath !== undefined && row.options.imagePath[index]">
                  <img height="100px" width="120px" alt="" [src]="row.options.imagePath[index]"><br/>
              </div>
            </div>
          </td>
          <td>{{row.year}}</td>
          <td>{{row.marks}}</td>
        </tr>
  </tbody>
</table>
<pagination *ngIf="config.paging"
            class="pagination-sm"
            [(ngModel)]="page"
            [totalItems]="length"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="onChangeTable(config, $event)"
            (numPages)="numPages = $event">
</pagination>
<pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>  
